
@import '../../node_modules/magic-check/css//magic-check.min.css';

// XS and smaller
@media all and (max-width: 543px) {
  .btn-block-sm-down {
    display: block;
    position: relative;
    width: 100%;
    bottom: 0px;
  }
}
// SM and smaller
@media all and (max-width: 767px) {
  .btn-block-sm-down {
    display: block;
    position: relative;
    width: 100%;
    bottom: 0px;
  }
  .height-5vh-sm-down {
    height: 5vh !important;
  }
  .height-20vh-sm-down {
    height: 20vh !important;
  }
  .height-25vh-sm-down {
    height: 25vh !important;
  }
  .height-30vh-sm-down {
    height: 30vh !important;
  }
  .height-35vh-sm-down {
    height: 35vh !important;
  }
  .height-40vh-sm-down {
    height: 40vh !important;
  }
}

.btn-no-block {
  display: inline-block;
  width: auto;
}

.maxwidth-800 {
  max-width: 800px;
  margin: auto;
}

.flex {
  display: flex;
}

// percentage heights
.height-40 {
  height: 40%;
}
.height-50 {
  height: 50%;
}
.height-100 {
  height: 100%;
}

// viewport heights
.min-height-10vh {
  min-height: 10vh;
}
.min-height-12vh {
  min-height: 12vh;
}
.max-height-100vh {
  max-height: 100vh;
}
.height-2vh {
  height: 2vh;
}
.height-5vh {
  height: 5vh;
}
.height-10vh {
  height: 10vh;
}
.height-20vh {
  height: 20vh;
}
.height-30vh {
  height: 30vh;
}
.height-35vh {
  height: 35vh;
}
.height-40vh {
  height: 40vh;
}
.height-50vh {
  height: 50vh;
}
.height-100vh {
  height: 100vh;
}

