@import "./variables.scss";

$body-bg: #000;
$body-color: #eee;

$xsyellow:      #ffc300;

$primary:       $blue !default;
$secondary:     $gray-600 !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-100 !default;
$dark:          $gray-800 !default;

$theme-colors: (
  "bargraph-bars": $xsyellow,
  "bargraph-border": #eee
);

// Dark-mode dropdown.
$dropdown-color:                    $body-color;
$dropdown-bg:                       $body-bg;
$dropdown-border-color:             rgba($white, .15);
$dropdown-divider-bg:               $gray-800 ;
$dropdown-box-shadow:               0 .5rem 1rem rgba($white, .175);
$dropdown-link-color:               $gray-100;
$dropdown-link-hover-color:         darken($gray-100, 5%);
$dropdown-link-hover-bg:            $gray-900;
//$dropdown-link-active-color:        $component-active-color;
//$dropdown-link-active-bg:           $component-active-bg;
$dropdown-link-disabled-color:      $gray-400 !default;
$dropdown-header-color:             $gray-600 !default;

@import "../../node_modules/bootstrap/scss/bootstrap";

// XS and smaller
@media all and (max-width: 543px) {
  .btn-block-sm-down {
    display: block;
    position: relative;
    width: 100%;
    bottom: 0px;
  }
}
// SM and smaller
@media all and (max-width: 767px) {
  .btn-block-sm-down {
    display: block;
    position: relative;
    width: 100%;
    bottom: 0px;
  }
  .min-height-8vh-sm-down {
    min-height: 8vh !important;
  }
  .height-5vh-sm-down {
    height: 5vh !important;
  }
  .height-20vh-sm-down {
    height: 20vh !important;
  }
  .height-25vh-sm-down {
    height: 25vh !important;
  }
  .height-30vh-sm-down {
    height: 30vh !important;
  }
  .height-35vh-sm-down {
    height: 35vh !important;
  }
  .height-40vh-sm-down {
    height: 40vh !important;
  }
}

.btn-no-block {
  display: inline-block;
  width: auto;
}

.maxwidth-800 {
  max-width: 800px;
  margin: auto;
}

.flex {
  display: flex;
}

// percentage heights
.height-40 {
  height: 40%;
}
.height-50 {
  height: 50%;
}
.height-100 {
  height: 100%;
}

// viewport heights
.min-height-10vh {
  min-height: 10vh;
}
.min-height-12vh {
  min-height: 12vh;
}
.max-height-100vh {
  max-height: 100vh;
}
.height-2vh {
  height: 2vh;
}
.height-5vh {
  height: 5vh;
}
.height-10vh {
  height: 10vh;
}
.height-20vh {
  height: 20vh;
}
.height-30vh {
  height: 30vh;
}
.height-35vh {
  height: 35vh;
}
.height-40vh {
  height: 40vh;
}
.height-50vh {
  height: 50vh;
}
.height-100vh {
  height: 100vh;
}

